[Desktop Entry]
Name=Darknode Settings
Comment=System and toolkit configuration
Exec=darknode-settings
Icon=preferences-desktop
Terminal=true
Type=Application
Categories=Settings;System;
Keywords=settings;configuration;preferences;network;display;security;
