[Desktop Entry]
Name=Password Attacks
Comment=Brute force, hash cracking, and password spraying
Exec=xfce4-terminal --title="Password Attacks" -e darknode-brute
Icon=dialog-password
Terminal=false
Type=Application
Categories=System;Security;
