[Desktop Entry]
Name=AD Attack Planner
Comment=Active Directory enumeration and attacks
Exec=xfce4-terminal --title="AD Attacks" -e darknode-ad
Icon=user-group-new
Terminal=false
Type=Application
Categories=System;Security;
