[Desktop Entry]
Name=Report Generator
Comment=Professional pentest report builder
Exec=xfce4-terminal --title="Report Generator" -e darknode-report
Icon=x-office-document
Terminal=false
Type=Application
Categories=System;Security;
